html,body{
	background-image:url(images/homezed.jpg);
	}
body{
	margin:0;
	}
	header{
		background:black;
		color:white;
		font-family: Brush Script MT,cursive;
		font-size: 20px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 26.4px;
		padding:0px 0px 52px 40px;

	}
	
	header h1{
		text-align:center;
		display:inline;
		font-weight:200;
		font-size:40px;
		float:left;
		margin-top:0px;
		margin-right:10px;
	}
	h1,p{
		text-align:center;
	}
	h2,h4{
		text-align:center;
	}
	
	nav ul{
		display:inline;
		padding:0px;
		float:left;
	}
	
	nav ul li{
		display:inline-block;
		list-style-type: none;
		color:white;
		float:left;
		margin-right:10px;
	}
	
	nav ul li a{
		color:white;
		text-decoration: none;
	}
	footer {
    width: 600px;
    margin: 0 auto 3em auto;
	}

	footer h3 {
    font-size: 30px;
    text-align: center;
    width: 400px;
    margin: 0 auto .5em auto;
    padding: .2em;
    border-radius: 0 .75em;
	}

	footer p {
    padding: .1em 1em;
    text-align: center;
}
a{color:black;}

	
	#nav{
		font-family:Rockwell Extra Bold,Rockwell Bold,monospace;
		
	}
	
	.homered{
		background-color:red;
		padding:20px 10px 11px 10px;
	}
	.divider{
		background-color:red;
		height:5px;
	}
	.homeblack:hover{
		backgroun-color:red;
		padding:20px 10px 11px 10px;

	}
	.img .gallery {
    display: flex;
    justify-content: space-around;
	 text-align: center;
}

		
		

		
